*{
    margin:0;
    padding:0;
}
body{ 
    background-color:black;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    color:white;
}
.container{
    height:60vh;
    width:50vh;
    background: linear-gradient(135deg,#00feba,#5b548a);
    border-radius:2vmin;
    padding:20px;
} 
.bar{
     height:28px;
     width:35vh;
     border-radius:2vmin;
     border:none;
     font-size:2.3vmin;
     text-align:start;
     padding:1.25vmin;
}

#search{
    height:6.5vh;
    width:6.5vh;
    background-color:white;
    border-radius:47%;
    display:flex;
    justify-content:center;
    align-items:center;
    border:none;
    font-size:2vmin;
}

.search_icon{
    display:flex;
    justify-content:space-evenly;
}
.weather{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    min-height:40vh;
    
}
.weather-icon{
    height:20vh;
    width:20vh;
    margin-top:2vh;
    margin-bottom:2vh;
}
#temp{
    font-size:7vh;
    font-weight:500;
}
#place{
    font-size:5vh;
    font-weight:100;
}

.we{
    display:flex;
    justify-content:space-between;
}
.hu{
   height:5vh;
}
#humi{
    display:flex;
    margin-top:6vh;
}
#wind{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    margin-left:2vh;
    margin-right:7vh;
}
#dis{
    display:none;
}
.error{
    text-align:left;
    margin-left:10px;
    font-size:20px;
    margin-top:10px;
    display:none;
    color:red;
}
